.main {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.page {
    width: 1000px;
    height: 10px;
    display: flex;
    flex-direction: row;
}



h1, h2, h3, h4 {
    font-family: 'Kaushan Script';
    margin-bottom: 0px;
}

th {
    background-color: gray;
    font-weight: bold;
}

td {
    background-color: gray;
    font-weight: bold;
    width: 25px;
    height: 25px;
}

.center {
    text-align: center;
}

.padding {
    padding: 10px;
}

.board {

    margin: 20px;

}

.blue {
    background-color: #66c2ff;
}

.yellow {
    background-color: #FFD700;
}

.border-round {
    border-radius: 10px;
}

.border-grey {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.scores {
    background-color: white;
}

#update-name {
    display: flex;
    flex-direction: col;
}